body, html {
    margin: 0;
}

#logo {
    margin: .5vw;
    width: 5vw;
    height: 5vw;
    user-select: none;
    -webkit-user-drag: none;
}

nav {
    width: 100vw;
    height: 6vw;
    background-color: #5d5d5d;
}

.content {
    width: 100vw;
    height: calc(100vh - 6vw);
    background-color: #737373;
}

.console {
    width: 100vw;
    height: 60vh;
    display: block;
    background-color: black;
    color: lime;
    text-align: left;
    resize: none;
    border-radius: 0%;
    overflow: hidden;
    overflow-y: auto;
    width: 100vw;
    line-height: 1.5ch;
    font-size: 1.5ch;
    font-weight: bold;
    word-wrap: none;
    text-wrap: nowrap;
    tab-size: 4;
}

.log {
    width: 100vw;
    line-height: 2ch;
    font-size: 2ch;
    font-weight: bold;
    word-wrap: none;
    text-wrap: nowrap;
    tab-size: 4;
}

.log:last-of-type{
    margin-bottom: 30px;
}

#InstallAndLaunch, #versions, #launcher, .btn, .btn_wide {
    width: 10vw;
    height: 3vw;
    position: relative;
    transform: translateY(-70%);
    border-radius: 40px;
    background-color: #4a4a4a;
    color: white;
    font-size: 1vw;
    text-align: center;
    user-select: none;
}

.btn_wide {
    width: 20vw !important;
}

.btns {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}